<form method="POST" action="/order/">
  <h2>Shipping Information</h2>
  <label for="shipping-name">Name</label>
  <input name="shippingName" id="shipping-name">
  <label for="shipping-address">Address</label>
  <input name="shippingAddress" id="shipping-address">
  <label for="shipping-city">City</label>
  <input name="shippingCity" id="shipping-city">
  <label for="shipping-state">State</label>
  <input name="shippingState" id="shipping-state">
  <label for="shipping-zip">Zip Code</label>
  <input name="shippingZip" id="shipping-zip">
  <label for="shipping-country">Country</label>
  <input name="shippingCountry" id="shipping-country">
  <label for="shipping-phone">Phone</label>
  <input name="shippingPhone" id="shipping-phone">

  <hr/>
   
  <h2>Billing Information</h2>
  <label for="billing-name">Name</label>
  <input name="billingName" id="billing-name">
  <label for="billing-address">Address</label>
  <input name="billingAddress" id="billing-address">
  <label for="billing-city">City</label>
  <input name="billingCity" id="billing-city">
  <label for="billing-state">State</label>
  <input name="billingState" id="billing-state">
  <label for="billing-zip">Zip Code</label>
  <input name="billingZip" id="billing-zip">
  <label for="billing-country">Country</label>
  <input name="billingCountry" id="billing-country">
  <label for="billing-phone">Phone</label>
  <input name="billingPhone" id="billing-phone">

  <hr/>

  <h2>Credit Card Information</h2>
  <label for="credit-card-num">Credit Card Num</label>
  <input name="ccNum" id="create-card-num">
   
  <input type="submit" value="Submit">
</form>

<p>Back to <a href="/cart">Shopping Cart</a></p>
 
<div class="container">
  <div class="row">
  <h1>Review Order</h1>
    <div class="col-md-6">
      
      <h2> Order Number #: {{orders.0.orderId}}</h2>
      {{#each orders}}
      <h3>{{Product.name}}</h3>
      <p>Quantity: {{quantity}}<br>
      Price: {{purchasePrice}}</p>
      {{/each}}
      <p>Total Cost: <span class="total"></span></p>
    </div>
    <div class="col-md-6">
      <h2>Shipping Address</h2>
      <h3>{{orders.0.Shipping.shippingName}}</h3>
      
      <p>{{orders.0.Shipping.shippingAddress}}<br/>
        {{orders.0.Shipping.shippingCity}}, {{orders.0.Shipping.shippingState}} {{orders.0.Shipping.shippingZip}} <br/>
        {{orders.0.Shipping.shippingCountry}} <br/>
      Phone: {{orders.0.Shipping.shippingPhone}} </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

  $.get("../api/order/" + {{orders.0.orderId}}, function(data){
    console.log(data);
    var total = 0;
    for (i=0; i < data.length; i++){
      total += data[i].quantity * data[i].purchasePrice;
      console.log (total);
    }

    $('.total').text(total);
  });
</script>
