<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="{{product.img}}">
        <div class="caption">
          <h2>{{product.name}}</h2>
          <p class="price">${{product.price}}</p>
          <p>{{product.desc}}</p>
          <p><a href="/cart/{{id}}" class="btn btn-primary" role="button">Add To Cart</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="/products" class="btn btn-default" role="button">Back to all products</a> 
    </div>
  </div>
</div>
