{{> navbar }}
<div class="container">
  <div class="row">
    {{#each products}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{img}}">
        <div class="caption">
          <h3>{{name}}</h3>
          <p class="price">{{price}}</p>
          <p><a href="/products/{{id}}" class="btn btn-primary" role="button">View Product</a> <a href="/cart/{{id}}" class="btn btn-default" role="button">Add To Cart</a></p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{> footer }}