<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="{{product.img}}">
        <div class="caption">
          <h2>{{product.name}}</h2>
          <p class="price">${{product.price}}</p>
          <p>{{product.desc}}</p>
          <form method="POST" action="../cart/{{id}}">
            <label for="quantity">Select quantity</label>
            <select class="form-control" id="quantity" name="quantity">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <button class="btn btn-default" type="submit" value="Submit">Add To Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="/products" class="btn btn-default" role="button">Back to all products</a> 
    </div>
  </div>
</div>
