{{> navbar this }}
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">View By Category</div>
        <div class="panel-body">
          <div class="list-group">
            {{#each categories}}
            <a href="/products/category/{{name}}" class="list-group-item">
             {{name}}
            </a>
            {{/each}}
         </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        {{#each products}}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{{img}}">
            <div class="caption">
              <h3>{{name}}</h3>
              <p class="price">${{price}}</p>
              <p><a href="/products/{{id}}" class="btn btn-primary" role="button">View Product</a> 
              <form method="POST" action="/cart/{{id}}">
                <label for="quantity">Select quantity</label>
                <select class="form-control" id="quantity" name="quantity">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <button class="btn btn-default" type="submit" value="Submit">Add To Cart</button>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  
</div>

{{> footer }}
